<h1>Tasks</h1>
<p id="notice"><%= notice %></p>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>

<div class='contents clearfix'>
  <%= form_with(scope: :task, url:tasks_path,local: true,method: :get) do |form| %>
  <p class='contents_top'><%= form.label :title,'タスク名'%><%= form.text_field :title%></p>
  <p class='contents_top'>
    <%= form.label :status,'ステータス'%><%= form.select :status, Task.statuses.keys,include_blank:"選択する" %></p>
  <p class='contents_top'><%= form.submit 'Search'%></p>
  <p class='contents_top'><%= link_to '新規投稿', new_task_path %></p>

  <%end%>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">タスク名</th>
      <th scope="col">詳しい内容</th>
      <th scope="col">終了期限</th>
      <th scope="col">ステータス</th>
      <th scope="col">優先度</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td scope="row"><%= task.title %></td>
      <td scope="row"><%= task.content %></td>
      <td scope="row"><%= task.deadline %></td>
      <td scope="row"><%= task.status%>
      <td scope="row"><%= task.priority %></td>
      <td><%= link_to 'Show', task %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks%>