<%= form_with(model: [:admin, @user], local: true) do |form| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> 入力内容を確認ください。</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="task_title">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="task_content">
  <%= form.label :email %>
  <%= form.email_field :email%>
</div>
</div>
<div class="task_status">
  <%= form.label :admin %>
  <%= form.check_box :admin %>
</div>
<div class="task_deadline">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
<div class='task_priority'>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>