<h2>管理者画面</h2>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<p id="notice"><%= notice %></p>
<%= link_to "User一覧", admin_users_path %> |
<%= link_to 'Back', admin_users_path %> |
<%= link_to 'ユーザー登録',new_admin_user_path %>

<body>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">名前</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">管理者権限</th>
        <th scope="col">タスク数</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class='row_name'><%= user.name %></td>
        <td class='row_email'><%= user.email %></td>
        <td class='row_admin'><%= user.admin? %></td>
        <td class='row_tasks_count'><%= user.tasks.count %>
        <td><button type="button" class="btn btn-outline-primary"><i
              class="fas fa-chalkboard-teacher mr-1"><%= link_to '詳細', admin_user_path(user.id) %></td>
        <td><button type="button" class="btn btn-outline-success"><i
              class="fas fa-file-download mr-1"><%= link_to '編集', edit_admin_user_path(user.id) %></td>
        <td><button type="button" class="btn btn-outline-danger"><i
              class="fas fa-trash-alt mr-1"><%= link_to '削除', admin_user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
</body>